@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@media screen and (max-width: 99999999px){
    h1{
        margin-top: -10px;
        font-family:'Oswald', sans-serif;
        color: white;
    }
    .name{
        margin:5px;
    }
    .w{
        position: absolute;
        visibility: hidden;
    }
    html{
        overflow-x:hidden;
    }
    li{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .kategories{
        padding: 20px;
    }
    ul{
        list-style: none;
    }
    .kategorii{ 
        display: flex; 
        z-index: 9999999999; 
        justify-content: space-around; 
        width: 50vw; 
        background-image: url(img/kategorii.jpg);
        background-size: 50vw 100%;
        background-repeat: no-repeat;
        height: 0px;
        overflow: hidden;
    }
    .button1 {
        font-size: 20px;
        color: White;
        text-decoration: none;
        left: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .button1:hover {
        color: black;
    }
    .button {
        font-size: 20px;
        padding: 20px;
        color: White;
        text-decoration: none;
        left: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .button:hover {
        color: red;
    }
    .language{
        position: absolute;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url("img/background.PNG");
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 0;
    }
    .main{
        left: 25vw;
        position: absolute;
        background-color: darkred;
        height: 3000px;
        width: 50vw;
        z-index: 1;
        border: 2mm ridge rgba(220, 20, 60, .6);
    }
    .buttons{
        display: flex;
        align-items: center;
        position: inherit;
        left: -2vw;
    }
    .menu{
        display: flex;
        flex-direction: column;
        visibility: hidden;
    }
    .laungue{
        display: flex;
        align-items: center;
        position: relative;
    }
    header{
        background: black;
        display: flex;
        width: 100vw;
        height: auto;
        position: relative;
        z-index: 2;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .skiptranslate {
        display: none;
        height: 0;
        visibility: hidden ;
      }
      .language__img {
        cursor: pointer;
      }
      body {
        top: 0 !important;
      }
}
@media screen and (max-width: 1080px){
    *{
        margin: 0;
        padding: 0;
    }
    html{
        overflow-x:visible;
    }
    body{
        background-image: none !important;
        background-color: black !important;
        height: 2000px  !important;
        width: 200vw  !important;
    }
    .main{

        left: 0px  !important;
        position: relative  !important;
        background-color: darkred  !important;
        height: 100%  !important;
        width: 200vw  !important;
        border: 2mm ridge rgba(220, 20, 60, .6);
    }
    .kategorii{ 
        display: flex; 
        z-index: 9999999999; 
        justify-content: space-around; 
        width: 200vw !important;
        background-image: url(img/kategorii.jpg);
        background-size: 200vw 100%;
        background-repeat: no-repeat;
/*        height: 0px;
        overflow: hidden;*/
    }
    header{
        background: black;
        display: flex;
        width: 200vw;
        height: auto;
        position: relative;
        z-index: 2;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .skiptranslate {
        display: none;
        height: 0;
      }
    .language__img {
        cursor: pointer;
      }
    body {
        top: 0 !important;
      }
    .name{
        margin:5px;
    }
    h1{
        margin-top: -10px;
        font-family:'Oswald', sans-serif;
        color: white;
    }
}